[submodule "submodules/BLIP"]
	path = submodules/BLIP
	url = https://github.com/jcgohr/BLIP
[submodule "submodules/Long_CLIP"]
	path = submodules/Long_CLIP
	url = https://github.com/aidan073/Long-CLIP.git
