[submodule "submodules/longclip"]
	path = submodules/longclip
	url = https://github.com/beichenzbc/Long-CLIP.git
[submodule "submodules/BLIP"]
	path = submodules/BLIP
	url = https://github.com/jcgohr/BLIP
